/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


body{

    background-color: rgb(4, 132, 172);
    color: white;
    padding: 50;

}